body {
    background-color: #9ea5b1;
    
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 30px; 
    background: #E8E8E8;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
    

}

img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0.5em;
}



.CreateNewContact {
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    width: 95.02px;
    height: 42.66px;
    border: none;
    background-color: rgb(58, 58, 97);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .CreateNewContact .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  .CreateNewContact:hover .span-mother {
    position: absolute;
  }
  
  .CreateNewContact:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
  .CreateNewContact .span-mother span:nth-child(1) {
    transition: 0.2s;
  }
  
  .CreateNewContact .span-mother span:nth-child(2) {
    transition: 0.3s;
  }
  
  .CreateNewContact .span-mother span:nth-child(3) {
    transition: 0.4s;
  }
  
  .CreateNewContact .span-mother span:nth-child(4) {
    transition: 0.5s;
  }
  
  .CreateNewContact .span-mother span:nth-child(5) {
    transition: 0.6s;
  }
  
  .CreateNewContact .span-mother span:nth-child(6) {
    transition: 0.7s;
  }
  
  .CreateNewContact .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .CreateNewContact .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  .CreateNewContact:hover .span-mother2 span {
    transform: translateY(0);
  }
  
  .CreateNewContact .span-mother2 span {
    transition: 0.2s;
  }
  
  .CreateNewContact .span-mother2 span:nth-child(2) {
    transition: 0.3s;
  }
  
  .CreateNewContact .span-mother2 span:nth-child(3) {
    transition: 0.4s;
  }
  
  .CreateNewContact .span-mother2 span:nth-child(4) {
    transition: 0.5s;
  }
  
  .CreateNewContact .span-mother2 span:nth-child(5) {
    transition: 0.6s;
  }
  
  .CreateNewContact .span-mother2 span:nth-child(6) {
    transition: 0.7s;
  }
  .trash {
    background-color: transparent;
    position: relative;
    border: none;
    margin-top: 60px;
  }
  
  .trash::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
  }
  
  .icon {
    transform: scale(1.2);
    transition: .2s linear;
  }
  
  .trash:hover > .icon {
    transform: scale(1.5);
  }
  
  .trash:hover > .icon path {
    fill: rgb(168, 7, 7);
  }
  
  .trash:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
  }
  .editBtn {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: rgb(93, 93, 116);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  .editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(102, 102, 141);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
  }
  .editBtn:hover::before {
    transform: scale(1);
  }
  .editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
  
  .editBtn svg {
    height: 17px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
  }
  .editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
  }
  .editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 19px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }
  .editBtn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
  }
  .navbar {
    background-color: #E8E8E8;
    margin-bottom: 60px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .col-2{
      display: flex;
      justify-content: center;
      text-align: center;
  }
 
  .formulario-crearContacto {
    margin-top: 50px;
  }
  .btn.btn-primary {
    background-color: #3A3A61;
    border: none;
  }
  .formulario-editarContacto {
    margin-top: 50px;
  }

  legend {
    text-align: center;
  }

  .botones-abajo {
    display: flex;
    justify-content: center;
  }

  a {
    display: flex;
    justify-content: center;
  }
  .CreateNewContact {
    margin-bottom: 10px;
  }